*{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

:root{
    /* primary colors */
    --clr-primary-txt-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --clr-primary-txt-soft-red: hsl(14, 88%, 65%);

    /* gradient colors */

    --clr-bg-soft-violet: hsl(273, 75%, 66%);
    --clr-bg-soft-blue: hsl(240, 73%, 65%);;

    /* neutral colors */
    --clr-neutral-text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --clr-neutral-text-dark-grayish-blue: hsl(240, 6%, 50%);

    /* divider color */
    --clr-divider-Light-grayish-blue: hsl(240, 5%, 91%);

}

body{
    font-weight: 400;
    font-size: 12px;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    background-repeat: no-repeat;
}

.img-mobile{
    display: none;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    width: 65%;
    max-width: 1440px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 3rem 4rem 0;
    background-color: hsl(0, 0%, 100%);
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: -100%;
    border-radius: 30px;
    box-shadow: 0 0 15px hsl(273, 37%, 42%);
}

.container > * {
    flex-basis: 50%;
}

.box{
    position: absolute;
    top: 45%;
    left: 10%;
}

.img{
    margin-left: -4rem;
}


/*############# 

frequently asked question styles

##############*/

.faq-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-primary-txt-very-dark-desaturated-blue);
    margin-bottom: 2rem;
}

.content-container{
    width: 90%;
}

.question{
    font-weight: 400;
    color: var(--clr-neutral-text-very-dark-grayish-blue);
    cursor: pointer;
    padding: 1rem 0;
    position: relative;
}

.question:hover{
    color: var(--clr-primary-txt-soft-red);
}

.question::after{
    content: '⩛';
    position: absolute;
    right: 10px;
    color: var(--clr-primary-txt-soft-red);
}

.answer{
    padding-top: 0.2rem;
    color: var(--clr-neutral-text-dark-grayish-blue);
    width: 100%;
    height: 0px;
    overflow: hidden;

    border-bottom: 1px solid var(--clr-divider-Light-grayish-blue);
    transition: 0.5s;
}

/* JS styling link */
.content-container.active .answer{
    height: 60px;
}

.content-container.active .question{
    transition: .5s;
    font-weight: 700;
    color: var(--clr-primary-txt-very-dark-desaturated-blue);
}

.content-container.active .question::after{
    content: '⩕';
    transition: 0.5s;
}


@media screen and (max-width: 1024px) {

    .box{
        display: none;
    }

    .image-container{
        text-align: center;
    }

    .container{
        display: block;
        width: 80%;
        padding: 0;
        padding: 10rem 2rem 2rem;
        background-color: hsl(0, 0%, 100%);
        
        background-image: url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 60%;
        background-position: top center;
    }

    .img{
        display: none;
    }

    .img-mobile{
        display: block;
        width: 50%;
        margin-inline: auto;
        position: absolute;
        top: 10%;
        left: 25%;
    }

    .image-container .woman{
        display: none;
    }

    .content-container{
       width: 100%; 
       
    }
}

@media screen and (max-width: 375px){
    
    body{
        font-size: 10px;
        padding: 0 1rem;
    }

    .img-mobile{
        width: 60%;
        position: absolute;
        top: 23%;
        left: 20%;
    }

    .container{
        width: 100%;
        padding: 6rem 2rem 2rem;
        background-image: url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 60%;
        background-position: top center;
    }
}

.attribution{
    text-align: center;
}


